.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}

#donut {
	width: 100%;
	height: 400px;
}

.well.impressions{
	height: 27%;
	padding-top: 50px;
}

.well.impressions p{
	font-size: 19px;
}

.table > thead > tr > th{
	vertical-align: top;
}

#table-data > thead > tr > th:not(p){
    font-weight: BOLD;
}

#table-data > thead > tr > th > p{
    font-weight: normal;
    padding-top: 6px;
}

#table-data > tbody > tr > td:first-child{
	border-left:  1px solid #e4e1de;
}


#table-data > tbody > tr > td:last-child{
	border-right:  1px solid #e4e1de;
}

button#btnExcel {
    margin-top: -8px;
    position: absolute;
}

.gauge-holder.form-group{
	padding-bottom: 10px;
}